<nav>
  <ul>
    <a>
        About
    </a>
    <a [routerLink]="['/client-info']">
        Client Information
    </a>
    <a [routerLink]="['/quote-history']">
        Quote History
    </a>
    <a [routerLink]="['/quote-request']">
        Request a Quote
    </a>
    <a [routerLink]="['/login']">
        Logout
    </a>
  </ul>
</nav>

<main>
    <h3>About Us</h3>
    <p>Our company is dedicated to giving our customers the best rates.</p>
    <p>CS 33220.001: Internet Software Development.</p>
</main>
